<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Global Ruleset" ToolsVersion="16.0">
  <Rules AnalyzerId="Roslynator.Formatting.Analyzers" RuleNamespace="Roslynator.Formatting.Analyzers">
    <Rule Id="RCS0001" Action="Info" />
    <Rule Id="RCS0003" Action="Info" />
    <Rule Id="RCS0004" Action="Info" />
    <Rule Id="RCS0006" Action="Info" />
    <Rule Id="RCS0008" Action="Info" />
    <Rule Id="RCS0009" Action="Info" />
    <Rule Id="RCS0010" Action="Info" />
    <Rule Id="RCS0013" Action="Info" />
    <Rule Id="RCS0016" Action="Info" />
    <Rule Id="RCS0021" Action="Info" />
    <Rule Id="RCS0022" Action="Info" />
    <Rule Id="RCS0023" Action="Info" />
    <Rule Id="RCS0024" Action="Info" />
    <Rule Id="RCS0025" Action="Info" />
    <Rule Id="RCS0027" Action="Info" />
    <Rule Id="RCS0028" Action="Info" />
    <Rule Id="RCS0030" Action="Info" />
    <Rule Id="RCS0031" Action="Info" />
    <Rule Id="RCS0032" Action="Info" />
    <Rule Id="RCS0033" Action="Info" />
    <Rule Id="RCS0035" Action="Info" />
    <Rule Id="RCS0037" Action="Info" />
    <Rule Id="RCS0038" Action="Info" />
    <Rule Id="RCS0039" Action="Info" />
    <Rule Id="RCS0040" Action="Info" />
    <Rule Id="RCS0041" Action="Info" />
    <Rule Id="RCS0042" Action="Info" />
    <Rule Id="RCS0043" Action="Info" />
    <Rule Id="RCS0044" Action="Info" />
    <Rule Id="RCS0046" Action="Info" />
    <Rule Id="RCS0047" Action="Info" />
    <Rule Id="RCS0048" Action="Hidden" />
    <Rule Id="RCS0049" Action="Info" />
    <Rule Id="RCS0050" Action="Info" />
  </Rules>
</RuleSet>